* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin Center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu {
  width: 500px;
  background: #23272a;
  border-radius: 20px 0 0 20px;
  position: absolute;
  height: 100vh;
  transition: 0.5s;
  right: 0;
  top: 0;
  transform: translateX(90%);
  &.slide {
    transform: none;
  }
  #nav-icon3 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg) translate(5px, -20px);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon3 span:nth-child(2),
  #nav-icon3 span:nth-child(3) {
    top: 18px;
  }

  #nav-icon3 span:nth-child(4) {
    top: 36px;
  }

  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .menu-options {
    display: flex;
    padding-top: 90px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    button {
      height: 20px;
      cursor: pointer;
      height: 40px;
      background: #696969;
      color: #fff;
      border: none;
      width: 300px;
      border-radius: 5px;
      margin: 10px 0;
    }
  }
}
.color-pallete-container{
    position: absolute;
    @include Center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9;
    &.hidden{
        display: none;
    }
    .pallete-container-width{
        background: #1f1f1f;
        position: relative;
        width: 400px;
        height: 500px;
        border-radius: 20px;
        .text{
            width: 100%;
            text-align: center;
            color: #FFF;
        }
        .input-section{
            @include Center;
            input{
                width: 300px;
                height: 40px;
                background: #1f1f1f;
                border: 3px solid #FFF;
                outline: none;
                border-radius: 10px;
                color: #FFF;
            }
        }
        .main-choosing-colors{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            place-items: center;
            width: 100%;
            height: 140px;
            margin-top: 60px;
            .choose-color{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid #FFF;
                cursor: pointer;
                &.chosen{
                    border: 3px solid #62ff6a;
                }
            }
        }
        input[type="color"] {
            -webkit-appearance: none;
            border: none;
            width: 100%;
            height: 32px;
        }
        input[type="color"]::-webkit-color-swatch-wrapper {
            padding: 0;
        }
        input[type="color"]::-webkit-color-swatch {
            border: 3px solid #FFF;;
            border-radius: 10px;
        }
        .buttons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20%;
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 60px;
            button:nth-child(1){
                background: #000;
                color: #FFF;
            }
            button{
                width: 100px;
                height: 40px;
                background: #7dff41;
                border: none;
                border-radius: 40px;
                cursor: pointer;
            }
        }
    }
}