@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
  position: relative;
}

canvas:not(.preview) {
  border: 2px solid #000;
  cursor: crosshair;
  position: absolute;
}

.draw-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: fixed;
  width: 100%;
  height: 100px;
  background: #313131;
  bottom: 0;
}

.color-panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 300px;
      grid-template-columns: 1fr 300px;
  border-right: 2px solid #fff;
}

.color-panel .color-container {
  width: 100%;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  place-items: center;
  -webkit-column-gap: 1px;
          column-gap: 1px;
  row-gap: 5px;
}

.color-panel .color-container .color {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.color-panel .color-container .color.active {
  border: 2px solid #34eb58;
}

.color-panel .manage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
  position: relative;
}

.color-panel .manage .user-data-palettes {
  position: absolute;
  width: 300px;
  height: 150px;
  background: #1f1f1f;
  -webkit-transform: translate(35px, -100px);
          transform: translate(35px, -100px);
  border-radius: 10px;
}

.color-panel .manage .user-data-palettes.hidden {
  display: none;
}

.color-panel .manage .user-data-palettes .scroll-palettes {
  -webkit-box-shadow: inset 0 0 10px;
          box-shadow: inset 0 0 10px;
  padding: 0 10px;
  width: 299px;
  overflow: hidden;
  overflow-y: scroll;
  height: 100px;
}

.color-panel .manage .user-data-palettes .scroll-palettes .user-palette {
  background: #727272;
  border-radius: 10px;
  height: 80px;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
}

.color-panel .manage .user-data-palettes .scroll-palettes .user-palette .Ptext {
  width: 100%;
  top: 0;
  text-align: center;
  font-size: 0.7rem;
  color: #fff;
  position: absolute;
}

.color-panel .manage .user-data-palettes .scroll-palettes .user-palette .user-colors {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  gap: 5px;
}

.color-panel .manage .user-data-palettes .scroll-palettes .user-palette .user-colors .colors {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}

.color-panel .manage .user-data-palettes .text {
  width: 100%;
  text-align: center;
  color: #fff;
}

.color-panel .manage button {
  height: 50px;
  width: 50px;
  background: #616161;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.color-panel .manage button i {
  color: #fff;
}

.color-panel .manage button:active {
  background: #3d3d3d;
}

.brush {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
}

.brush .brush-icon {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brush .brush-icon i {
  color: #4471ef;
}

.range-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.range-container .range-input {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eee;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.range-container .range-input input {
  -webkit-appearance: none;
  width: 500px;
  height: 2px;
  background: #4471ef;
  border: none;
  outline: none;
}

.range-container .range-input input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #eee;
  border: 2px solid #4471ef;
  border-radius: 50%;
}

.range-container .range-input input::-webkit-slider-thumb:hover {
  background: #4471ef;
}

.range-container .range-input .value {
  color: #4471ef;
  text-align: center;
  font-weight: 600;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
  margin-left: 10px;
}

.range-container .range-input .value div {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.cursor {
  position: absolute;
  z-index: 1000;
  border: 1px solid black;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.draw-container:hover ~ .cursor {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a9a9a9;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  background-color: #151515;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
/*# sourceMappingURL=style.css.map */