@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$rangeColor: #4471ef;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow: hidden;
  position: relative;
}
canvas:not(.preview){
  border: 2px solid #000;
  cursor: crosshair;
  position: absolute;
}

.draw-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  width: 100%;
  height: 100px;
  background: #313131;
  bottom: 0;
}
.color-panel {
  display: grid;
  grid-template-columns: 1fr 300px;
  border-right: 2px solid #fff;
  .color-container {
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    place-items: center;
    column-gap: 1px;
    row-gap: 5px;
    .color {
      transition: 0.4s ease;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      cursor: pointer;
      &.active {
        border: 3px solid #34eb58;
      }
    }
  }
  .manage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    position: relative;
    .user-data-palettes {
      position: absolute;
      width: 300px;
      height: 150px;
      background: #1f1f1f;
      transform: translate(35px, -100px);
      transition: 0.4s;
      border-radius: 10px;
      &.hidden {
        display: none;
      }
      .scroll-palettes {
        box-shadow: inset 0 0 10px;
        padding: 0 10px;
        width: 299px;
        overflow: hidden;
        overflow-y: scroll;
        height: 100px;
        .user-palette {
          background: #727272;
          border-radius: 10px;
          height: 80px;
          cursor: pointer;
          margin-top: 20px;
          position: relative;
          .delete-palette{
            position:absolute;
            right: 0;
            top: 0;
            width: 60px;
            height: 20px;
            background: #ff4141;
            z-index: 20;
          }
          .Ptext {
            width: 100%;
            top: 0;
            text-align: center;
            font-size: 0.7rem;
            color: #fff;
            position: absolute;
          }
          .user-colors {
            display: grid;
            place-items: center;
            grid-template-columns: repeat(7, 1fr);
            position: absolute;
            bottom: 0;
            width: 100%;
            transform: translateY(-10px);
            gap: 5px;
            .colors {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #fff;
            }
          }
        }
      }
      .text {
        width: 100%;
        text-align: center;
        color: #fff;
      }
    }
    button {
      height: 50px;
      width: 50px;
      background: #616161;
      border-radius: 10px;
      outline: none;
      border: none;
      cursor: pointer;
      i {
        color: #fff;
      }
      &:active {
        background: #3d3d3d;
      }
    }
  }
}
.brush {
  display: grid;
  place-items: center;
  grid-template-columns: 100px 1fr;
  .brush-icon {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: $rangeColor;
    }
  }
}
.range-container {
  display: grid;
  place-items: center;
  .range-input {
    position: relative;
    justify-content: center;
    background: #eee;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  .range-input input {
    -webkit-appearance: none;
    width: 500px;
    height: 2px;
    background: $rangeColor;
    border: none;
    outline: none;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background: #eee;
      border: 2px solid $rangeColor;
      border-radius: 50%;
    }
    &::-webkit-slider-thumb:hover {
      background: $rangeColor;
    }
  }
  .range-input .value {
    color: $rangeColor;
    text-align: center;
    font-weight: 600;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    margin-left: 10px;
    div {
      transition: all 300ms ease-in-out;
    }
  }
}
.cursor {
  position: absolute;
  z-index: 1000;
  border: 1px solid black;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.draw-container:hover ~ .cursor {
  display: none;
}

//scroll stuff

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a9a9a9;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track {
  background-color: #151515;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
